@import 'shared/css/functions';
@import 'shared/css/typography';

@import 'shared/bem/button';

// force footer to bottom
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  > main {
    flex: 1;
  }
}
