/* Defaults */
html
{
  font: 10pt Arial, Sans-Serif;
  background-color: #ffffff;
  color: #000000;
}

body
{
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}