@mixin font-size($size-value, $line: null, $apply-mobile-factor: false) {
  font-size: $size-value + px;

  @if ($line) {
    line-height: $line + px;
  } @else {
    line-height: 100%;
  }

  @if ($apply-mobile-factor == true) {
    $mob-factor: 0.55;

    @media (max-width: map-get($breakpoints, sm)) {
      font-size: ($size-value * $mob-factor) + px;

      @if ($line) {
        line-height: ($line * $mob-factor) + px;
      }
    }
  }
}

@mixin link-no-underline {
  text-decoration: none;

  @include hover {
    text-decoration: underline;
  }
}

@mixin mw($maxwidth) {
  @media screen and (max-width: $maxwidth + px) {
    @content;
  }
}

@mixin hover {
  html.non-touch & {
    &:hover {
      @content;
    }
  }
}

@function get-width-by-grid-cols($nrcols, $addgutter: false) {
  $width: ($nrcols * $grid-column-width) + (($nrcols - 1) * $grid-gutter-width);

  @if ($addgutter == true) {
    $width: $width + $grid-gutter-width;
  }

  @return $width;
}

@mixin bp-grid-cols($nrcols, $addgutter: false, $max-width: true, $add-margin-auto: true, $add-padding-smaller-screen: true) {
  @if ($add-margin-auto == true) {
    margin: 0 auto;
  }

  @if ($max-width == true) {
    width: get-width-by-grid-cols($nrcols);
    max-width: 100vw;
  } @else {
    width: get-width-by-grid-cols($nrcols);
  }

  @media screen and (max-width: get-width-by-grid-cols($nrcols)) {
    @content;

    @if ($add-padding-smaller-screen == true) {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content }
  &:-moz-placeholder { @content }
  &::-moz-placeholder { @content }
  &:-ms-input-placeholder { @content }
}
